html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px; /* Hauteur du header */
}
.main-content {
    margin-left: 280px; /* Largeur de la sidebar */
    padding-top: 60px; /* Hauteur du header */
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Assure que le header est au-dessus de tout */
}